{% extends "base.html" %}

{% block content %}
  <h2>New Comment</h2>

    <form method="post">
      <label>
        <div>Add A Comment</div>
        <input class="postid" type="hidden" name="post_id" value="{{post_id}}">
        <textarea name="body">{{body}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" class ="btn btn-primary" name="submit" value="Submit">
      <input type="button" class ="btn btn-primary" name="cancel" value="Cancel" onClick="history.go(-1);return true;">
    </form>
{% endblock %}
